@model StudentModel
@{
    ViewBag.Title = "Sửa thông tin sinh viên";
    ViewBag.Active = "Student";
}

@section Styles {
    <style>
        .avatar {
            object-fit: cover;
            width: 8rem;
            height: 8rem;
            transition: transform 0.3s ease;
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.4);
        }

        .edit-icon {
            cursor: pointer;
        }
    </style>
}

<div id="modal-content"></div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="form-avatar text-center mb-3">
                    <img src="@Model.ImagePath" alt="" class="avatar rounded-circle" data-toggle="modal" data-target="#avatarModalOfUser">
                </div>
                <form id="update-form" class="form-sample" enctype="multipart/form-data">
                    <p class="card-description"></p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="StudentCode" class="col-sm-3 col-form-label">Mã sinh viên:</label>
                                <div class="col-sm-9">
                                    <input type="text" id="StudentCode" class="form-control" name="StudentCode" value="@Model.StudentCode" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="Fullname" class="col-sm-3 col-form-label">Họ tên:</label>
                                <div class="col-sm-9">
                                    <input type="text" id="Fullname" class="form-control" name="Fullname" value="@Model.Fullname" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="class" class="col-sm-3 col-form-label">Lớp:</label>
                                <div class="col-sm-9">
                                    <input type="text" id="class" class="form-control" name="Class" value="@Model.Class" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="YearOfBirth" class="col-sm-3 col-form-label">Ngày sinh:</label>
                                <div class="col-sm-9">
                                    <input type="date" id="YearOfBirth" class="form-control" name="YearOfBirth" value="@Model.YearOfBirth.ToString("yyyy-MM-dd")" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="Gender" class="col-sm-3 col-form-label">Giới tính:</label>
                                <div class="col-sm-9">
                                    <select id="Gender" class="form-control" name="Gender">
                                        <option value="true" selected="@(Model.Gender ? "selected" : null)">Nam</option>
                                        <option value="false" selected="@(Model.Gender ? null : "selected")">Nữ</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="Phone" class="col-sm-3 col-form-label">Số điện thoại:</label>
                                <div class="col-sm-9">
                                    <input type="text" id="Phone" class="form-control" name="Phone" value="@Model.Phone" required />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="Department" class="col-sm-3 col-form-label">Khoa:</label>
                                <div class="col-sm-9">
                                    @await Component.InvokeAsync("Department", new { departmentCode = Model.DepartmentCode })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label for="ImageFile" class="col-sm-3 col-form-label">Ảnh đại diện:</label>
                                <div class="col-sm-9">
                                    <input type="file" id="ImageFile" asp-for="ImageFile" class="form-control" accept="image/*" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-gradient-primary mr-2">Lưu</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#update-form').on('submit', function (event) {
                event.preventDefault(); // Ngăn không cho form load lại trang
                var formData = new FormData(this); // Sử dụng FormData để bao gồm cả file

                $.ajax({
                    url: '@Url.Action("Update", "Student")',
                    type: 'POST',
                    data: formData, // Lấy tất cả dữ liệu trong form
                    processData: false, // Ngăn jQuery xử lý dữ liệu (cần thiết khi dùng FormData)
                    contentType: false, // Không đặt Content-Type để trình duyệt tự xử lý
                    success: function (response) {
                        console.log(response);
                        if (response.result) {
                            window.location.href = '/Student/Index';
                        }
                        else {
                            $('#modal-content').html(response);
                            // Tạo đối tượng modal và hiển thị
                            var myModal = new bootstrap.Modal(document.getElementById('modal-content').querySelector('.modal'));
                            myModal.show();
                        }
                    }
                });
            });
        });
    </script>
}