@model List<RegisterClassModel>

<div class="card">
    <div class="table-responsive table-scroll">
        <table class="table">
            <thead>
                <tr>
                    <th>Mã lớp học</th>
                    <th>Môn học</th>
                    <th>Giảng viên giảng dạy</th>
                    <th>Thời gian học</th>
                    <th>Phòng học</th>
                    <th>Sỉ số</th>
                    @if (DateTime.Now >= RegisterScheduleModelStatic.RegisterStart && DateTime.Now <= RegisterScheduleModelStatic.RegisterDeadline)
                    {
                        <th></th>
                    }
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="detail">
                        <td class="edit-column">@item.ClassCode</td>
                        <td class="edit-column">@item.SubjectName</td>
                        <td class="edit-column">@item.TeacherName</td>
                        <td class="edit-column">@(item.ClassCode != null ? item.StudySchedule : "")</td>
                        <td class="edit-column">@(item.ClassroomName ?? "Chưa cụ thể")</td>
                        <td class="edit-column">@item.RegisteredCount</td>
                        @if (DateTime.Now >= RegisterScheduleModelStatic.RegisterStart && DateTime.Now <= RegisterScheduleModelStatic.RegisterDeadline)
                        {
                            <td>
                                <a class="nav-link p-0" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                                    <i class="mdi mdi-dots-vertical mdi-24px"></i> <!-- Icon ba chấm dọc -->
                                </a>
                                <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                                    <a class="dropdown-item item-hidden showModalDeleteConfirm" href="#" data-code="@item.RegisterCode">
                                        <i class="mdi mdi-logout mr-3 text-danger"></i> Xóa
                                    </a>
                                </div>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>